<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
</head>
<body>
  <div class="cont">
    <ul class="nav">
      <a href="/customer" class=" nav-elem active">Home</a>
      <a href="/wallet" class=" nav-elem">My Wallet</a>
      <a href="/plans" class=" nav-elem">Offered Plans</a>
      <a href="/benefits" class=" nav-elem">My Benefits</a>
      <a href="/shops" class=" nav-elem">Shops</a>
      <a href="/myplans" class=" nav-elem">Plan Search</a>
    </ul>
  </div>
</body>
</html>