<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefits</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
        *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  }
  
  body {
    height: 100vh;
    background: #131315;
     background-image:url("https://1.bp.blogspot.com/-Fo3iRt97ZXY/XvSG4EMwi0I/AAAAAAAAVEo/mrApRTcVVRk1m-fX9K-ffNwRUXlHUocdwCLcBGAsYHQ/s1600/h.jpg");
    display: grid;
    grid-template-columns: 20% 80%;
  }
  a{
    text-decoration: none;
  }
  .cont{
   width:200px;
  }
  .headers{
    display:flex;
    justify-content:end;
    color:#c7fffb;
    padding:10px;
    position:sticky;
    width:100%;
    margin-top:5px;
    margin-left:3%;
  }
  .wel{
    margin-left:32%;
    letter-spacing: 2px;
    margin-bottom:30%;
  }
  .logo{
   color:#645e5e;
   font-weight: bolder;
   letter-spacing: 2px;
  }

  .arrow{
    position:sticky;
    color:#c7fffb;
    font-size:40px;
    margin-top:-40%;
    cursor: pointer;
  }
  .left-arrow{
    margin-right: 5%;
  }
  .right-arrow{
    margin-left: 5%;
  }
  li{
    color:#c7fffb;
  }
  .nav {
    background: #1d1d1f;
    padding: 20px 0 10px 10px;
    border-right: 5px solid #c7fffb;
    width: 150px;
    height:100vh;
    transition: 0.5s;
    overflow: hidden;
    position: fixed;
  }
  .nav h2{
    font-size: 15px;
    color:#c7fffb;
    margin-bottom:30px;
    border-bottom:3px solid  #0b3b3f;
    border-top:3px solid  #0b3b3f;
    margin-left:0;
    text-align: center;
  }
  .nav .nav-elem {
    list-style: none;
    padding: 15px;
    padding-right: 0;
    color: #c7fffb;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    padding-right:10px;
  }
  
  .nav .nav-elem:hover {
    transition: 0s;
    background: #2d3138;
  }
  
  .nav .nav-elem.active:before {
    content: '';
    position: absolute;
    top:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px 10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active:after {
    content: '';
    position: absolute;
    bottom:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active {
    background: #c7fffb;
    color:#26656a;
  }
  
  .nav:hover {
    width: 250px;
  }
    
    .title{
      margin-bottom: 60px;
      color: #c7fffb;
    }

  .coupon {
  width: 80%;
  min-height: 200px;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: stretch;
  position: relative;
  text-transform: uppercase;
  margin-top:60px;
  margin-left:80px;
}
  .coupon::before,
  .coupon::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
  }

  .coupon::before {
    left: 0;
    background-image: radial-gradient(
      circle at 0 50%,
      transparent 25px,
      #95c6c2 26px
    );
  }

  .coupon::after {
    right: 0;
    background-image: radial-gradient(
      circle at 100% 50%,
      transparent 25px,
      #95c6c2 26px
    );
  }

  .coupon > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left {
    width: 20%;
    border-right: 2px dashed rgba(0, 0, 0, 0.13);
  }
  .left div {
    transform: rotate(-90deg);
    white-space: nowrap;
    font-weight: bold;
  }

  .center {
    flex-grow: 1;
    text-align: center;
  }

  .right {
    width: 120px;
    background-image: radial-gradient(
      circle at 100% 50%,
      transparent 25px,
      #d7e5e4 26px
    );
  }
  .right div {
    font-size: 2.5rem;
    font-weight: 400;
    transform: rotate(-90deg);
  }

  .center h2 {
    background: #000;
    color:  #d7e5e4;
    padding: 0 10px;
    font-size: 2.15rem;
    white-space: nowrap;
  }

  .center h3 {
    font-size: 2.15rem;
  }
  .center small {
    font-size: 0.625rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .benefits{
    width:80%;
    height:100vh;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Maintain spacing between children */
    overflow-y: auto; 
    padding: 0px 30px;
    margin-left: 0%;
    margin-top:30px;
  }
  .descrip{
    color:#c7fffb;
    background-color: transparent;
    border-bottom:3px solid  #0b3b3f;
    border-top:3px solid  #0b3b3f;
    width:300px;
    padding:5px;
    text-align: center;
    letter-spacing: 1px;
    padding-left:20px;
    font-style: italic;
    font-size: 20px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-10%;
  }
  .space{
  width:10px;
}
.border{
  border:2px solid #444c4b;
  padding:5px;
}
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color:#c7fffb;
  margin-top: 20%;
  margin-left: 13%;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
    </style>
</head>
<body>
  <div class="cont">
    <ul class="nav">
      <h2 class="wel"><%= name %></h2>
      <a href="/customer" class=" nav-elem">Home</a>
      <a href="/wallet" class=" nav-elem">My Wallet</a>
      <a href="/plans" class=" nav-elem">Offered Plans</a>
      <a href="/benefits" class=" nav-elem active">My Benefits</a>
      <a href="/shops" class=" nav-elem">Shops</a>
      <a href="/myplans" class=" nav-elem">Plan Search</a>
      <a href="/vouchers" class=" nav-elem">My Vouchers</a>
      <a href="/renew" class=" nav-elem">Transactions</a>
      <a href="/about" class=" nav-elem">About Us</a>
      <a class = 'button-89' href = '/'>LOG OUT</a>
    </ul>
  </div>
  <div class="benefits">
    <div class="descrip">Your  <div class="space"></div> Benefits</div>
        <% for( let i = 0; i < benefit.length; i++ ) { %>
            <% if (benefit[i].mobileNo==currMobileNo) { %>
              <div class="coupon">
              <div class="left">
                <div class="border">Enjoy Your Benefit</div>
              </div>
              <div class="center">
                <div>
                  <h2> <%= benefit[i].description %></h2>
                  <small>Valid until <%= benefit[i].validity_date.toUTCString().slice(0,16) %></small>
                </div>
              </div>
              <div class="right">
                <div> ID : <%= benefit[i].benefitID %> </div>
              </div>
            </div>  
            <% } %>
        <% } %>
      </div>
      <script>
        </script> 
</body>
</html>