<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Plans</title>
  <style>
 @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  }
  
  body {
    height: 100vh;
    background: #131315;
    background-image:url("https://1.bp.blogspot.com/-Fo3iRt97ZXY/XvSG4EMwi0I/AAAAAAAAVEo/mrApRTcVVRk1m-fX9K-ffNwRUXlHUocdwCLcBGAsYHQ/s1600/h.jpg");
    display: grid;
    grid-template-columns: 20% 80%;
  }
  a{
    text-decoration: none;
  }
  .cont{
   width:200px;
  }
  .main{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding:15px;
  }
  section{
    height:100vh;
    width:100%;
  }
  .carousel{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    margin-left:-6%;
    margin-top:-5%;
  }
  .headers{
    display:flex;
    justify-content:end;
    color:#c7fffb;
    position:sticky;
    width:100%;
    height:50px;
  }
  .wel{
    margin-left:32%;
    letter-spacing: 2px;
    margin-bottom:30%;
  }
  .logo{
   color:#645e5e;
   font-weight: bolder;
   letter-spacing: 2px;
   margin-left:-2%;
  }

  .arrow{
    position:sticky;
    color:#c7fffb;
    font-size:40px;
    margin-top:5%;
    cursor: pointer;
  }
  .left-arrow{
    margin-right: 5%;
  }
  .right-arrow{
    margin-left: 5%;
  }
  li{
    color:#c7fffb;
  }
  .nav {
    background: #1d1d1f;
    padding: 20px 0 10px 10px;
    border-right: 5px solid #c7fffb;
    width: 150px;
    height:100vh;
    transition: 0.5s;
    overflow: hidden;
    position: fixed;
  }
  .nav h2{
    font-size: 15px;
    color:#c7fffb;
    margin-bottom:30px;
    border-bottom:3px solid  #0b3b3f;
    border-top:3px solid  #0b3b3f;
    margin-left:0;
    text-align: center;
  }
  .nav .nav-elem {
    list-style: none;
    padding: 15px;
    padding-right: 0;
    color: #c7fffb;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    padding-right:10px;
  }
  
  .nav .nav-elem:hover {
    transition: 0s;
    background: #2d3138;
  }
  
  .nav .nav-elem.active:before {
    content: '';
    position: absolute;
    top:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px 10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active:after {
    content: '';
    position: absolute;
    bottom:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active {
    background: #c7fffb;
    color:#26656a;
  }
  
  .nav:hover {
    width: 250px;
  }
  
  .title{
    margin-bottom: 60px;
    color: #c7fffb;
  }
  .items{
    width: 100%;
    height:70%;
    background: transparent;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
#plan{
  font-size:20px;
  color:#c7fffb;
  margin-left:-5%;
  margin-bottom:6%;
  background-color: transparent;
  border-bottom:3px solid  #0b3b3f;
  width:200px;
  padding:10px;
  text-align: center; 
  letter-spacing: 1px;
}
.container {
  width: 100%;
  max-height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px 100px;
  overflow: hidden;
  background: transparent;
  margin-left: -4%;
}

.box {
  position: relative;
  width: 240px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: transparent;
  filter: blur(1px);
  z-index: 1;
}

.box::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -1px;
  width: 20px;
  height: 100%;
  background:transparent;
  filter: blur(1px);
  z-index: 1;
}

.box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background:tranpsarent;
}

.box .content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box .content .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .content .percent::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.box .content .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.box .content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: #093134;
  transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
  stroke: #c7fffb;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box .content .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.back{
border-radius: 50%;
background-color: #191a1b;
z-index: -2;
}

.box .content .percent .dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #95bbb9;
  border-radius: 50%;
}

.box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
  margin-top:25px;
  margin-left:5px;
}

.box .content .number h2 {
  font-size: 2.5rem;
  color: #c7fffb;
}

.box .content .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}
.descrip{
  margin-top: 4%;
  margin-left:-12%;
  color:#c7fffb;
  margin-bottom:15%;
  background-color: transparent;
  border-bottom:3px solid  #0b3b3f;
  border-top:3px solid  #0b3b3f;
  width:450px;
  padding:5px;
  text-align: center;
  letter-spacing: 1px;
  padding-left:20px;
  font-style: italic;
  font-size: 20px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container{
  display:flex;
  flex-direction: row;
  width:300px;
  height:35px;
  border-radius:1rem ;
  background-color: transparent;
  border:2px solid #50f8f3;
  margin-left:-8px;
}

input {
  outline: none;
  outline-style: none;
}

.inputs{
  width:100%;
  height:95%;
  border-radius:1rem;
  background-color: transparent;
  font-size: 15px;
  color:#effefd;
  border:none;
  padding-left:15px;
}

.inputs::placeholder{
  font-size:15px;
  margin-left: 30px;
  background-color: transparent;
}

button{
  width: 100px;
  height: 30px;
  border-radius: 1rem;
  border:none;
  background-color: #50f8f3;
  color: #100e0e;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: #232020;
  color: #50f8f3;
  border: 2px solid #50f8f3;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
form{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  gap:20px;
  margin-left:-6%;
  margin-bottom: 6%;
}
  .space{
    width:25px;
}
label{
  color:#c7fffb;
  width:100px;
  margin-left: 10px;
  margin-right: -13px;
  font-weight: bold;
  font-style: italic;
}
input[type="date"]::-webkit-calendar-picker-indicator {
      background-color: white; /* Change the background color */
      color: black;            /* Change the icon color */
      padding: 5px;            /* Add some padding */
      border-radius: 50%;      /* Optional: Make it rounded */
      margin-left: -5px;
    }

    </style>
</head>
<script>

  // Stop the form resubmission on page refresh
  
  if ( window.history.replaceState ) {
  
  window.history.replaceState( null, null, window.location.href );
  
  }
  
</script>
<body>
  <div class="cont">
    <ul class="nav">
      <h2 class="wel"><%= name %></h2>
      <a href="/customer" class=" nav-elem">Home</a>
      <a href="/wallet" class=" nav-elem">My Wallet</a>
      <a href="/plans" class=" nav-elem">Offered Plans</a>
      <a href="/benefits" class=" nav-elem">My Benefits</a>
      <a href="/shops" class=" nav-elem">Shops</a>
      <a href="/myplans" class=" nav-elem active">Plan Search</a>
      <a href="/vouchers" class=" nav-elem">My Vouchers</a>
      <a href="/renew" class=" nav-elem">Transactions</a>
    </ul>
  </div>
  <div class="main">
  <div class="carousel">
  <div class="left-arrow arrow" onclick="shift('left')"><</div>
  <div class="items">
    <div id="plan"></div>
    <div class="container"></div>
  </div>
  <div class="right-arrow arrow" onclick="shift('right')">></div>
 </div>
 <form method="post">
  <div class="wrapper">
  </div>
  <div class="input-container"> 
    <input class="inputs" placeholder="Plan Name" type="text" name="plan" id="plann" required>
  </div>
  <label>Start Date: </label>
  <div class="input-container"> 
    <input class="inputs" placeholder="Start Date" type="date" name="startDate" id="start" required>
  </div>
  <label>End Date: </label>
  <div class="input-container">
    <input class="inputs" placeholder="End Date" type="date" name="endDate" id="end" required>
  </div>
  <button type="submit">Find</button>
  </form>
  </div>

  <script>
    let displayInd=0
    const values2 = '<%- JSON.stringify(usages) %>';
    const values = JSON.parse(values2)

  shift('none');
    function shift(direction){
  if(direction==='left'){
    if(displayInd===0)
    displayInd=9;
    else
   displayInd--;
  }
  else if (direction==='right'){
      if(displayInd===values.length-1)
      displayInd=0;
      else
     displayInd++;
  }
  else
    displayInd=0;
  createAndUpdateBoxes(values[displayInd]);
}

function createAndUpdateBoxes(values) {
  const container = document.querySelector('.container');
  const container2 = document.getElementById('plan');
  // Clear any existing boxes in the container
  // Loop through the values and create boxes dynamically
  container2.innerHTML=values.name;
  container.innerHTML="";
  container.innerHTML += `
      <div class="box">
        <div class="shadow"></div>
        <div class="content">
          <div class="percent" data-text="SMS" style="--num: ${values.minutes_used}">
            <div class="dot"></div>
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
          </div>
          <div class="number">
            <h2>${values.minutes_used}<span>%</span></h2>
          </div>
        </div>
      </div>
        <div class="box">
        <div class="shadow"></div>
        <div class="content">
          <div class="percent" data-text="Data" style="--num: ${values.data_consumption}">
            <div class="dot"></div>
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
          </div>
          <div class="number">
            <h2>${values.data_consumption}<span>%</span></h2>
          </div>
        </div>
      </div>
        <div class="box">
        <div class="shadow"></div>
        <div class="content">
          <div class="percent" data-text="Mins" style="--num: ${values.SMS_sent}">
            <div class="dot"></div>
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
          </div>
          <div class="number">
            <h2>${values.SMS_sent}<span>%</span></h2>
          </div>
        </div>
      </div>
    `;
}
    </script>
</body>
</html>