
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
        *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  }
  
  body {
    height: 100vh;
    background: #131315;
    background-image:url("https://1.bp.blogspot.com/-Fo3iRt97ZXY/XvSG4EMwi0I/AAAAAAAAVEo/mrApRTcVVRk1m-fX9K-ffNwRUXlHUocdwCLcBGAsYHQ/s1600/h.jpg");
    display: grid;
    grid-template-columns: 20% 80%;
  }
  a{
    text-decoration: none;
  }
  .cont{
   width:200px;
  }
  .main{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
  }
  .carousel{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    margin-left:-6%;
    margin-top: 5%;
  }
  .headers{
    border-bottom: 3px solid #0b3b3f;
    border-top:3px solid #0b3b3f;
    width:80%;
  }
  .wel{
    margin-left:32%;
    letter-spacing: 2px;
  }
  .logo{
   color:#645e5e;
   font-weight: bolder;
   letter-spacing: 2px;
   margin-left:-2%;
  }

  li{
    color:#c7fffb;
  }
  .nav {
    background: #1d1d1f;
    padding: 20px 0 10px 10px;
    border-right: 5px solid #c7fffb;
    width: 150px;
    height:100vh;
    transition: 0.5s;
    overflow: hidden;
    position: fixed;
  }
  .nav h2{
    font-size: 15px;
    color:#c7fffb;
    margin-bottom:30px;
    border-bottom:3px solid  #0b3b3f;
    border-top:3px solid  #0b3b3f;
    margin-left:0;
    text-align: center;
  }
  .nav .nav-elem {
    list-style: none;
    padding: 15px;
    padding-right: 0;
    color: #c7fffb;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    padding-right:10px;
  }
  
  .nav .nav-elem:hover {
    transition: 0s;
    background: #2d3138;
  }
  
  .nav .nav-elem.active:before {
    content: '';
    position: absolute;
    top:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px 10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active:after {
    content: '';
    position: absolute;
    bottom:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active {
    background: #c7fffb;
    color:#26656a;
  }
  
  .nav:hover {
    width: 250px;
  }
    
    .title{
      margin-bottom: 60px;
      color: #c7fffb;
    }



    .input-container{
  display:flex;
  flex-direction: row;
  width:80%;
  height:35px;
  border-radius:1rem ;
  background-color: transparent;
  margin-left:-8px;
  gap:10px;
}

input {
  outline: none;
  outline-style: none;
}

.inputs{
  width:100%;
  height:95%;
  background-color: transparent;
  font-size: 15px;
  color:#effefd;
  border:none;
  padding-left:15px;
  border-bottom: 1px solid #effefd;;
}

.inputs::placeholder{
  font-size:15px;
  margin-left: 30px;
  background-color: transparent;
}

button{
  width: 300px;
  height: 30px;
  border-radius: 1rem;
  border:none;
  background-color: #50f8f3;
  color: #100e0e;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: #232020;
  color: #50f8f3;
  border: 2px solid #50f8f3;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
  gap:40px;
  margin-left:-6%;
  margin-bottom: 7%;
}
.first{
  flex-direction: column;
}
  .space{
    width:25px;
}
label{
  color:#c7fffb;
  width:100%;
  margin-left: 5px;
}

.modal {
        display: block; /* Hidden by default */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: black;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4); /* Black with opacity */
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
.flip-card {
  background-color: transparent;
  width: 80%;
  height: 90%;
  perspective: 1000px;
}

.flip-card-inner {
  top:20%;
  position: relative;
  width: 70%;
  height:115%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  left:20%;
  
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius:2rem;
}

.flip-card-front {
  background-color:transparent;
  border: 3px solid #5de1d8;
  color: black;
}

.flip-card-back {
  border:3px solid #299b92;
  background-color:transparent;
  color: white;
  transform: rotateY(180deg);
}

.flipped .flip-card-inner {
  transform: rotateY(180deg);
}
.label{
  display: flex;
  flex-direction: row;
}
.buttons {
  display: flex;
  width: 900px;
  gap: 10px;
  --b: 5px;   /* the border thickness */
  --h: 1.8em; /* the height */
  margin-top:10%;
  margin-left:10%;
}

.buttons button {
  --_c: #5de1d8;
  flex: calc(1.25 + var(--_s,0));
  min-width: 0;
  font-size: 25px;
  height: var(--h);
  cursor: pointer;
  border: var(--b) solid var(--_c);
  background: 
    conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) 
    border-box;
  clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
  padding: 0 calc(0.288*var(--h)) 0 0;
  margin: 0 calc(-0.288*var(--h)) 0 0;
  box-sizing: border-box;
  transition: flex .4s;
  color: #fff;
  
}
.buttons button + button {
  --_c: #299b92;
  flex: calc(.75 + var(--_s,0));
  background: 
    conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
    border-box;
  clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
  margin: 0 0 0 calc(-0.288*var(--h));
  padding: 0 0 0 calc(0.288*var(--h));
  color: #fff;
}
.buttons button:focus-visible {
  outline-offset: calc(-2*var(--b));
  outline: calc(var(--b)/2) solid #000;
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:focus-visible + button {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
.buttons button:has(+ button:focus-visible) {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
button:hover,
button:active:not(:focus-visible) {
  --_s: .75;
}
button:active {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #fff;
}
.active{
  --_s: .75;
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #364551;
}
.marg{
  margin-left:10px;
}
label{
  width:200px;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.row .inputs{ 
  width:200px;
}
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color:#c7fffb;
  margin-top: 20%;
  margin-left: 13%;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
.flip-card-front .help{
  margin-top: 10%;
}
</style>
</head>
<script>

  // Stop the form resubmission on page refresh
  
  if ( window.history.replaceState ) {
  
  window.history.replaceState( null, null, window.location.href );
  
  }
  
</script>
<body>
  <div class="cont">
    <ul class="nav">
      <h2 class="wel"><%= name %></h2>
      <a href="/customer" class=" nav-elem">Home</a>
      <a href="/wallet" class=" nav-elem">My Wallet</a>
      <a href="/plans" class=" nav-elem">Offered Plans</a>
      <a href="/benefits" class=" nav-elem">My Benefits</a>
      <a href="/shops" class=" nav-elem">Shops</a>
      <a href="/myplans" class=" nav-elem">Plan Search</a>
      <a href="/vouchers" class=" nav-elem">My Vouchers</a>
      <a href="/renew" class=" nav-elem active">Transactions</a>
      <a href="/about" class=" nav-elem">About Us</a>
      <a class = 'button-89' href = '/'>LOG OUT</a>
    </ul>
    </div>
    <div class="flip-card" id="card">
      <div class="buttons">
        <button id="flipButtonBack" class="active">Recharge Balance</button>
        <button id="flipButton">Renew Plan</button>
      </div>
      <div class="flip-card-inner">
        <div class="flip-card-back">
            <form method ='post' class="first">
              <label class="headers" for="Amount">Renew Plan</label>
                  <div class="input-container"> 
                    <label for="name">Amount:</label>
                    <input class="inputs" placeholder="Amount" type="number" name="amount" id="plann" required>
                  </div>
                  
                  <div class="input-container"> 
                    <label for="name">Plan ID:</label>
                    <input class="inputs" placeholder="Plan" type="number" name="plan" id="plann" required>                
                  </div>
                  <div class="input-container"> 
                  <label for="Payment Method">Payment Method:</label>
                    <select class="inputs" name="method" class="inputs" required>
                        <option value="Cash">Cash</option>
                        <option value="Credit">Credit</option>
                    </select>
                  </div>
                  <button  name='action'  value = 'renew' type="submit">Renew Plan</button>
                  </form>
        </div>
    
        <div class="flip-card-front">
          <form class="help" method = 'post'>
            <label class="headers" for="Amount">Recharge Balance </label>
            <div class="input-container"> 
              <label for="Amount">Amount:</label>
              <input class="inputs" placeholder="Amount" type="number" name="amount" id="plann" required>
              <label class="marg" for="Payment Method">Payment Method:</label>
              <select name="method" class="inputs">
                  <option value="Cash">Cash</option>
                  <option value="Credit">Credit</option>
              </select>
            </div>
            <button type="submit" name="action" value="recharge">Recharge Balance</button>

      </form>
       
          <form method = "post">
            <label class="headers" for="Amount">Remaining/Extra Amounts</label>
            <div class="input-container"> 
            <label for="name">Plan Name:</label>
            <input class="inputs" type="text" placeholder="Plan Name" id="number" name="planname" required>
          </div>
            <button type="submit"  name="action" value="showDetails">Show</button>
            <div class="row">
            <% if (success == 2 && rem != null && extra != null) { %>
              <div class="inputs"> Remaining: <%= rem %></div>
              <div class="inputs"> Extra: <%= extra %></div>
            <% } %>
          </div>
          </form>
  
    
        </div>
    
      </div>
    
    </div> 

  </div>

     

      <% if (success > 2) { %>
        <div id="successModal" class="modal">
         <div class="modal-content">
             <span class="close">&times;</span>
             <% if (success == 4) { %>
                 <p id="errorMessage">Balance recharged succcesfully</p>
             <% } %>
             <% if (success == 3) { %>
                 <p id="errorMessage">It appears an error has taken place</p>
             <% } %>  <!-- Display error message -->
         </div>
     </div>
       <% } %>
        <% if (success < 2) { %>
            <div id="successModal" class="modal">
             <div class="modal-content">
                 <span class="close">&times;</span>
                 <% if (success == 1) { %>
                     <p id="errorMessage">Payment completed successfully</p>
                 <% } %>
                 <% if (success == 0) { %>
                     <p id="errorMessage">It appears an error has taken place</p>
                 <% } %>  <!-- Display error message -->
             </div>
         </div>
           <% } %>
      </div>
 
      
      <script>

document.getElementById('flipButton').addEventListener('click', function() {

document.getElementById('card').classList.add('flipped');
document.getElementById('flipButton').classList.add('active');
document.getElementById('flipButtonBack').classList.remove('active');


});

document.getElementById('flipButtonBack').addEventListener('click', function() {

document.getElementById('card').classList.remove('flipped');
document.getElementById('flipButtonBack').classList.add('active');
document.getElementById('flipButton').classList.remove('active');

});




        const success =  '<%= success || "" %>';
        var span = document.getElementsByClassName("close")[0];
         

             span.onclick = function() {
             var modal = document.getElementById("successModal");
             modal.style.display = "none";
         }
      
         window.onclick = function(event) {
             var modal = document.getElementById("successModal");
             if (event.target == modal) {
                 modal.style.display = "none";
             }
         }
         
         

      </script>
        
    
</body>
</html>
