
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shops</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
        *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  }
  
  body {
    height: 100vh;
    background: #131315;
    background-image:url("https://1.bp.blogspot.com/-Fo3iRt97ZXY/XvSG4EMwi0I/AAAAAAAAVEo/mrApRTcVVRk1m-fX9K-ffNwRUXlHUocdwCLcBGAsYHQ/s1600/h.jpg");
    display: grid;
    grid-template-columns: 20% 80%;

  }
  a{
    text-decoration: none;
  }
  .cont{
   width:200px;
  }
  .main{
    width:100%;
    height:100%;
    display: inline;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top:30px;
  }
  .carousel{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    margin-left:-6%;
    margin-top: 5%;
  }
  .headers{
    display:flex;
    justify-content:end;
    color:#c7fffb;
    padding:10px;
    position:sticky;
    width:100%;
    margin-top:20px;
  }
  .header{
    border-bottom: 3px solid #0b3b3f;
    border-top:3px solid #0b3b3f;
    width:80%;
    margin-bottom:10px;
    margin-top:10px;
    justify-content: end;
    color:#c7fffb;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 25px;
  }
  .wel{
    margin-left:32%;
    letter-spacing: 2px;
  }
  .logo{
   color:#645e5e;
   font-weight: bolder;
   letter-spacing: 2px;
   margin-left:-2%;
  }

  .arrow{
    position:sticky;
    color:#c7fffb;
    font-size:40px;
    margin-top:-40%;
    cursor: pointer;
  }
  .left-arrow{
    margin-right: 5%;
  }
  .right-arrow{
    margin-left: 5%;
  }
  li{
    color:#c7fffb;
  }
  .nav {
    background: #1d1d1f;
    padding: 20px 0 10px 10px;
    border-right: 5px solid #c7fffb;
    width: 150px;
    height:100vh;
    transition: 0.5s;
    overflow: hidden;
    position: fixed;
  }
  .nav h2{
    font-size: 15px;
    color:#c7fffb;
    margin-bottom:30px;
    border-bottom:3px solid  #0b3b3f;
    border-top:3px solid  #0b3b3f;
    margin-left:0;
    text-align: center;
  }
  .nav .nav-elem {
    list-style: none;
    padding: 15px;
    padding-right: 0;
    color: #c7fffb;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    padding-right:10px;
  }
  
  .nav .nav-elem:hover {
    transition: 0s;
    background: #2d3138;
  }
  
  .nav .nav-elem.active:before {
    content: '';
    position: absolute;
    top:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px 10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active:after {
    content: '';
    position: absolute;
    bottom:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -10px 0 #c7fffb;
  }
  
  .nav .nav-elem.active {
    background: #c7fffb;
    color:#26656a;
  }
  
  .nav:hover {
    width: 250px;
  }
  .container{
    width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:-100px;
}

.container .card{
    position: relative;
    cursor: pointer;
    height:300px;
    margin-bottom: 50px;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #292c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top:200px;
    transform: translateX(-50px);
}

.container .card:hover .face.face1{
    transform: translateX(-150px);
}

.container .card .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #66a1a5;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateX(0);
}

.container .card:hover .face.face2{
    transform: translateX(150px);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}
.content p{
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  color:#26656a
}
@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

.box p {
	margin: 0;
  color:#c7fffb
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
	min-width: min(40rem, 100%);
}

.box {
	font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.35rem solid;
	padding: 3vw;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}
.descrip{
    color:#c7fffb;
    background-color: transparent;
    border-bottom:3px solid  #0b3b3f;
    border-top:3px solid  #0b3b3f;
    width:300px;
    padding:5px;
    text-align: center;
    letter-spacing: 1px;
    padding-left:20px;
    font-style: italic;
    font-size: 20px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:2%;
  }

    </style>
</head>
<body>
  <div class="cont">
    <ul class="nav">
      <h2 class="wel"><%= name %></h2>
      <a href="/customer" class=" nav-elem">Home</a>
      <a href="/wallet" class=" nav-elem">My Wallet</a>
      <a href="/plans" class=" nav-elem">Offered Plans</a>
      <a href="/benefits" class=" nav-elem">My Benefits</a>
      <a href="/shops" class=" nav-elem active">Shops</a>
      <a href="/myplans" class=" nav-elem">Plan Search</a>
      <a href="/vouchers" class=" nav-elem">My Vouchers</a>
      <a href="/renew" class=" nav-elem">Transactions</a>
    </ul>
  </div>
      <div class="main">
        <div class="descrip">Our Shops</div>
      <div class="container">
        <% for( let i = 0; i < shops.length; i++ ) { %>
        <div class="card">
            <div class="face face1">
                <div class="content">
                  <div class="wrapper">
                    <div class="box">
                      <p><%= (shops[i].name).toUpperCase()%></p>
                    </div>
                  </div>
                 
                </div>
            </div>
            <div class="face face2">
              <div class="content">
                  <p><%= shops[i].Category %></p>
              </div>
          </div>
      </div>
        <% } %>
      </div>
    </div>
      <script>
        </script>

             
         
        
</body> 
</html>
